In [2]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [16]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [18]:
# When using loc, the row and column indices are inclusive, meaning the endpoints are included in the selection.
#When using iloc, the row and column indices are exclusive, meaning the endpoint for the row index is excluded from the selection.

In [28]:
new_index = [3,0,1,2]

In [36]:
new_index_order = [3, 0, 1, 2]
df_reindexed = df.reindex(new_index_order)
print(df_reindexed)

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [38]:
print(df_reindexed.loc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object

In [39]:
df_reindexed.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [40]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [41]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.427137  0.933808  0.146320  0.926368  0.824831  0.830983
2  0.354034  0.983021  0.170184  0.844834  0.156169  0.123634
3  0.658742  0.613398  0.439358  0.993770  0.423054  0.270897
4  0.507142  0.605255  0.698420  0.412660  0.801450  0.052851
5  0.937299  0.971645  0.785785  0.187153  0.470743  0.417293
6  0.211683  0.546274  0.812112  0.698840  0.767665  0.769979

In [42]:
df1.mean()

column_1    0.516006
column_2    0.775567
column_3    0.508696
column_4    0.677271
column_5    0.573985
column_6    0.410939
dtype: float64

In [43]:
df1['column_2'].std()

0.20707672436005603

In [50]:
df1.loc[2,'column_2']='abc'

In [51]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.427137       abc  0.146320  0.926368  0.824831  0.830983
2  0.354034       abc  0.170184  0.844834  0.156169  0.123634
3  0.658742  0.613398  0.439358  0.993770  0.423054  0.270897
4  0.507142  0.605255  0.698420  0.412660  0.801450  0.052851
5  0.937299  0.971645  0.785785  0.187153  0.470743  0.417293
6  0.211683  0.546274  0.812112  0.698840  0.767665  0.769979

In [52]:
df1['column_2'].mean()

TypeError: can only concatenate str (not "float") to str

In [61]:
import datetime
current_datetime = datetime.datetime.now()
current_month = current_datetime.month
current_year = current_datetime.year
print(current_month,current_year)

4 2024